:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow: hidden;
}

canvas {
  cursor: none;
}

#app {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  place-items: center;
  position: relative;
}

.btn {
  font-size: 2em;
  background-color: transparent;
  padding: 0.5em 1em;
  border: 3px solid currentColor;
  border-radius: 5px;
  cursor: pointer;
  margin: 2em;
}

.btn:focus {
  outline: 10px solid purple;
}

.pause {
  position: fixed;
  inset: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 2rem;
}

.end-card {
  height: 100%;
}

.credits {
  font-size: 3em;
}
